# Xcode
#
# gitignore contributors: checkout the wiki page for more info: https://github.com/github/gitignore/wiki/Xcode
# Project-specific Files
*.xcworkspace
*.xcodeproj
# User-specific Files
xcuserdata/
# Build Results
build/
DerivedData/
# Dependency Manager Files
.swiftpm/xcode/
.build/
# External Dependencies
Packages/
# macOS
.DS_Store
